* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    height: 3000px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.popup__btn {
    background-color: #acf2e0;
    border: 2px solid black;
    border-radius: 10%;
    padding: 10px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
}

/* MODALS */

.popup {
    display: none;
    background-color:rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.popup__container {
    position: relative;
    background-color: white;
    height: 450px;
    max-width: 400px;
    margin: 100px auto;
}

.popup__close {
    cursor: pointer;
    color: white;
    border: none;
    font-size: 35px;
    font-weight: bold;
    background-color: transparent;
    position: absolute;
    right: -2.5rem;
    top: -1rem;
}

.popup__form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.popup__form_header {
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 30px;
}

.popup__form_text {
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 20px;
    border: 2px solid #acf2e0;
}

.popup__form_submit {
    background-color: #acf2e0;
    padding: 20px 40px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 15px;
}

/* TABS STYLE */

.tabs__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.tab {
    background-color: #e1e4e8;
    padding: 25px 50px;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.tab:hover{
    transform: scale(1.1);
}

.active {
    background-color: #acf2e0;
}

.tabs__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.tabs__content_img {
    width: 400px;
    height: 300px;
}

.tabs__content_container {
    display: none;
}

.tabs__content_container:first-of-type {
    display: block;
}

.message {
    color: red;
    text-align: center;
}

/* TIMER */

.timer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.timer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 600px;
    height: 100px;
}

.timer__dates {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.timer__time {
    text-align: center;
}

.timer__time_num {
    background-color: #acf2e0;
    font-size: 30px;
    font-weight: bold;
}

.timer__time_text {
    font-weight: normal;
    font-size: 20px;
}